@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "node_modules/react-modal-video/scss/modal-video.scss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

.book-content {
  background-color: rgba(32, 44, 51, 0.7);
}

.link {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.icon {
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: webflow-icons !important;
}

.filter {
  filter: invert();
}

.book-back-ground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)),
    url("../../../public/assits/Resort\ \(5\).webp");
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 960px;
  display: flex;
}
.modal-video-body {
  max-width: none !important;
}

.media-wrapper {
  position: relative;
}
/* .media-wrp {
  position: relative;
}
.media-wrapp {
  position: relative;
}
.media-wrappe {
  position: relative;
}
.media-wrapper {
  position: relative;
}
.media-wrapperr {
  position: relative;
} */

/* .image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
} */

.overlay {
  position: absolute;
  inset: 0%;
  background-color: #000;
  opacity: 40%;
  z-index: 1;
}

.font-big-image {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.back-ground-image {
  background-image: linear-gradient(0deg, #000, rgba(0, 0, 0, 0) 80%);
}

.back-ground-image-chif {
  background-color: rgba(0, 0, 0, 0.43);
}

.fontReview {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  /* font-weight: 400; */
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
